:root {
	--body-color: #000000;
	--background-color: #1a1a1a;
	--graylish: #ececec;
	--red: #f94144;
	--green: #90be6d;
	--yellow: #d6aa44;
	--aqua: #43aa8b;
	--blue: #577590;
	--orange: #f3722c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Bebas Neue', sans-serif;
	background-color: var(--body-color);
	min-height: 100vh;
	color: #ececec;
}
i,
svg {
	pointer-events: none;
}
h1 {
	font-size: 2.5rem;
	text-align: center;
	letter-spacing: 0.4rem;
}
h2 {
	width: 50px;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}
.container {
	padding: 0.7rem;
	border: 5px solid var(--graylish);
	max-width: 1200px;
	margin: 5rem auto 5rem;
	border-radius: 25px;
}
.top-bar {
	max-width: 1200px;
	margin: 0 auto  0.7rem;
	padding: 50px 50px;
	background-color: var(--background-color);
	border-radius: 15px;
}
.bottom-bar {
	max-width: 1200px;
	margin: .7rem auto 0;
	padding: 5px 50px;
	background-color: var(--background-color);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sequencer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 30px;
	background-color: var(--background-color);
	border-radius: 15px;
}
.snare-track,
.kick-track,
.hihat-track,
.openhh-track {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.kick-pad,
.snare-pad,
.hihat-pad,
.openhh-pad {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.6rem 0.3rem;
	cursor: pointer;
	background-color: var(--graylish);
}

.kick-pad.active {
	background-color: var(--red);
}
.snare-pad.active {
	background-color: var(--green);
}
.hihat-pad.active {
	background-color: var(--yellow);
}
.openhh-pad.active {
	background-color: var(--aqua);
}
.snare,
.kick,
.hihat,
.openhh {
	display: flex;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	margin: 0rem 1rem 0rem 0rem;
}

.controls button {
	padding: 0.6rem 0.5rem 0.5rem 0.5rem;
	border: none;
	border-radius: 50%;
	background-color: #696767;
	color: #fff;
	cursor: pointer;
	font-size: 0.75rem;
	transition: all 0.1s ease;
	margin: 0rem 1.5rem;
}

.pad {
	transition: all 0.2s ease;
	border-radius: 3px;
}
.play {
	font-family: 'Bebas Neue', sans-serif;
	padding: 0.5rem 2rem 0.4rem 2rem;
	font-size: 1.5rem;
	background-color: #4b4949;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-top: 3rem;
	border-radius: 25px;
}
select {
	padding: 0.3rem;
	font-size: 0.9rem;
	width: 10rem;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	color: var(--graylish);
}
select#kick-select {
	background-color: var(--red);
}
select#snare-select {
	background-color: var(--green);
}
select#hihat-select {
	background-color: var(--yellow);
}
select#openhh-select {
	background-color: var(--aqua);
}
option {
	border: none;
	font-size: 0.8rem;
}

.mute.active {
	background-color: var(--red);
}

.tempo {
	margin: 3rem;
	width: 50%;
}
.tempo-slider {
	padding: 0.1rem;
	/* -webkit-appearance: none; */
	margin: 1rem 0;
	width: 100%;
	position: relative;
	background-color: rgb(90, 90, 90);
	cursor: pointer;
	border-radius: 10px;
}
.tempo p {
	font-size: 1.5rem;
	margin: 2rem;
	text-align: center;
}

@keyframes playTrack {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
